body {
  background-image: url(Assets/background.jpg);
}

.form-todo {
  background-color: beige;
  width: 450px;
  margin: auto;
  padding: 26px;
  padding-left: 20px;
  border-radius: 10px;
}

#time-input {
  margin: 0px 0px 5px 0px;
  padding: 5px 30px 5px 30px;
  text-align: center;
  border-radius: 10px;
  border-width: thin;
}

#act-input {
  margin: 0px 0px 5px 0px;
  padding: 20px 30px 20px 30px;
  text-align: center;
  border-radius: 10px;
  border-width: thin;
}

#desc-input {
  padding: 37px 26px 20px 26px;
  text-align: center;
  border-radius: 10px;
  border-width: thin;
}

#submit {
  background-color:rgb(28, 157, 180);
  position: absolute;
  margin: auto auto auto 240px;
  padding: 42px 35px 39px 35px;
  border-radius: 10px;
  border-width: thin;
  color: #ffffff;
}

.todo-title {
  margin: 20px auto 20px auto;
  padding: 10px;
  text-align: center;
  font-size: xxx-large;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  /* background-color: #ffffff; */
  background-image: url(Assets/head.jpg);
  background-position-y: bottom;
  color: #ffffff
}

.todo-container {
  width: 450px;
  margin: 20px auto auto auto;
  background-color:  rgb(253 99 99 / 85%);
  border-radius: 10px;
  overflow: auto;
}

.todo-container th {
  text-align: center;
}

.todo-container td {
  text-align: center;
}

.button button {
  display: inline-block;
  margin-right: -20px;
  border-radius: 5px;
  border-width: thin;
  background-color: #ffffff;
}

.button span {
  width: 125px;
  display: flex;
}

#detail {
  margin-right: 10px;
  padding-right: 5px;
    padding-left: 5px;
}

#edit {
  margin-right: 10px;
  padding-right: 11px;
  padding-left: 11px;
  background-color: rgba(0, 255, 255, 0.829);
  color: #17678b;
}

#done {
  background-color: rgba(0, 255, 42, 0.829);
  color: #883d0b;
}

.modal-content {
  border-radius: 10px;
}

.modal-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(253 99 99 / 85%);
}

.modal-body {
  background-color: antiquewhite;
}