.form-todo {
  background-color: beige;
  width: 450px;
  margin: auto;
  padding: 40px;
  padding-left: 20px;
  border-radius: 10px;
}

#act-input {
  padding: 20px 30px 5px 30px;
  text-align: center;
  border-radius: 10px;
}

#desc-input {
  padding: 26px;
  text-align: center;
  border-radius: 10px;
  border: none;
}

#time-input {
  padding: 5px 30px 5px 30px;
  text-align: center;
  border-radius: 10px;
}

#submit {
  background-color:rgb(28, 157, 180);
  position: absolute;
  margin: auto auto auto 240px;
  padding: 48px 35px 50px 35px;
  border-radius: 10px;
  color: #ffffff;
}

.todo-title {
  margin: 50px auto auto auto;
  text-align: center;
}

.todo-container {
  width: 450px;
  margin: 20px auto auto auto;
  background-color: rgb(255, 173, 214);
  border-radius: 10px;
}

.todo-container th {
  text-align: center;
}

.todo-container td {
  text-align: center;
}

.button button {
  display: inline-block;
  width: 60px;
  margin-right: -20px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
}

#detail {
  margin-right: 10px;
}

#edit {
  margin-right: 10px;
  background-color: rgba(0, 255, 255, 0.829);
  color: #17678b;
}

#done {
  background-color: rgba(0, 255, 42, 0.829);
  color: #883d0b;
}

.modal-content {
  border-radius: 10px;
}

.modal-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(255, 173, 214);
}

.modal-body {
  background-color: antiquewhite;
}